{% extends 'site_layout.html' %}


{% block site_content %}
    <div class='hero' style='background-image: url("{{ url_for('static', filename='image/ninage0.png') }}");'>
        <div class='overlay'>
            <h1>NINAGE</h1>
            <p>The Free Interactive Media Engine</p>
        </div>
    </div>
    <div class='site-section'>
        <div class='text-content'>
            <h2>An engine, not just for Games</h2>
            <p>Ninage is not a Game Engine.</p>

            <p>
            Ninage can be used to create games and other interactive
            media in 2D or 3D using C++.
            </p>
        </div>
    </div>
    <div class='site-section'>
        <div class='text-content'>
            <h2>History</h2>

            <p>
            The Ninage project started <b>Wed Jan 4 20:23:39 2017</b>
            with the filosofy of being free, <i>free as in free speech.</i>
            </p>

            <p>
            Unlike other engines such as <i>Unity</i> or <i>Game Maker</i>,
            Ninage is completely open source and does not contain any malicious
            code.
            </p>
        </div>
    </div>
    <div class='site-section'>
        <div class='text-content'>
            <h2>Contribution</h2>

            <p>
            All contributions are welcome and you can contribute by
            forking the project on Github:<br>
            <a href='https://github.com/sebbekarlsson/NINAGE-Engine'>https://github.com/sebbekarlsson/NINAGE-Engine</a>
            </p>
        </div>
    </div>
{% endblock %}
